<table style="margin: auto;" >
  <tr>
    <th>dilemma</th>
    <th>deadline</th>
    <th>tags</th>
  </tr>
  <% current_user.overdue_dilemmas.each do |d| %>
    <%= render partial: 'layouts/table', locals: {d: d} %>
  <% end %>
</table>